In [69]:
import pandas as pd
import pyarrow

In [70]:
df_movies_limpio = pd.read_csv(r"E:\Repositorios y bases de datos\Henry DS\Proyecto-individual-N-1---LABS---Henry\datos_procesados\movies_df.csv")

In [71]:
df_movies_limpio

,budget,movie_id,original_title,release_date,revenue,title,vote_average,vote_count,genre,return
0,30000000.0,862,Toy Story,1995-10-30,373554033.0,Toy Story,7.7,5415.0,Animation,12.451801
1,65000000.0,8844,Jumanji,1995-12-15,262797249.0,Jumanji,6.9,2413.0,Adventure,4.043035
2,0.0,15602,Grumpier Old Men,1995-12-22,0.0,Grumpier Old Men,6.5,92.0,Romance,0.000000
3,16000000.0,31357,Waiting to Exhale,1995-12-22,81452156.0,Waiting to Exhale,6.1,34.0,Comedy,5.090760
4,0.0,11862,Father of the Bride Part II,1995-02-10,76578911.0,Father of the Bride Part II,5.7,173.0,Comedy,0.000000
...,...,...,...,...,...,...,...,...,...,...
45461,0.0,439050,رگ خواب,Not available,0.0,Subdue,4.0,1.0,Drama,0.000000
45462,0.0,111109,Siglo ng Pagluluwal,2011-11-17,0.0,Century of Birthing,9.0,3.0,Drama,0.000000
45463,0.0,67758,Betrayal,2003-08-01,0.0,Betrayal,3.8,6.0,Action,0.000000
45464,0.0,227506,Satana likuyushchiy,1917-10-21,0.0,Satan Triumphant,0.0,0.0,Not available,0.000000
45465,0.0,461257,Queerama,2017-06-09,0.0,Queerama,0.0,0.0,Not available,0.000000

## Filmaciones por mes

In [72]:
import calendar

# Suponiendo que df_movies_funcion_1 ya está definido y cargado correctamente
df_movies_limpio['release_date'] = pd.to_datetime(df_movies_limpio['release_date'], errors='coerce')

# Eliminar filas con fechas no válidas
df_movies_limpio = df_movies_limpio.dropna(subset=['release_date'])

def cantidad_filmaciones_mes(mes):

    # Filtrar películas por el mes especificado
    filtered_movies = df_movies_limpio[df_movies_limpio['release_date'].dt.month_name(locale='es_ES').str.lower() == mes.lower()]
    
    # Contar la cantidad de películas filtradas
    cantidad = filtered_movies.shape[0]
    
    return cantidad

# Llamar a la función cantidad_filmaciones_mes con el mes 'enero'
cantidad_enero = cantidad_filmaciones_mes('enero')
print(f'Cantidad de películas estrenadas en enero: {cantidad_enero}')

# Llamar a la función cantidad_filmaciones_mes con el mes 'febrero'
cantidad_febrero = cantidad_filmaciones_mes('febrero')
print(f'Cantidad de películas estrenadas en febrero: {cantidad_febrero}')

Cantidad de películas estrenadas en enero: 5912
Cantidad de películas estrenadas en febrero: 3032

## Filmaciones por día

In [73]:
# Definición de la función cantidad_filmaciones_dia
def cantidad_filmaciones_dia(dia):
    # Convertir la columna de fechas a tipo datetime si aún no lo está (puede que ya esté hecho)
    df_movies_limpio['release_date'] = pd.to_datetime(df_movies_limpio['release_date'], errors='coerce')
    
    # Filtrar películas por el día especificado
    filtered_movies = df_movies_limpio[df_movies_limpio['release_date'].dt.day == dia]
    
    # Contar la cantidad de películas filtradas
    cantidad = filtered_movies.shape[0]
    
    return cantidad

# Probar la función con diferentes días
dias_a_consultar = [1, 15, 31]  # Puedes agregar más días según tus necesidades

for dia in dias_a_consultar:
    cantidad = cantidad_filmaciones_dia(dia)
    print(f'Cantidad de películas estrenadas el día {dia}: {cantidad}')

Cantidad de películas estrenadas el día 1: 5838
Cantidad de películas estrenadas el día 15: 1535
Cantidad de películas estrenadas el día 31: 850

C:\Users\Germán\AppData\Local\Temp\ipykernel_5252\69909737.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_movies_limpio['release_date'] = pd.to_datetime(df_movies_limpio['release_date'], errors='coerce')
C:\Users\Germán\AppData\Local\Temp\ipykernel_5252\69909737.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_movies_limpio['release_date'] = pd.to_datetime(df_movies_limpio['release_date'], errors='coerce')
C:\Users\Germán\AppData\Local\Temp\ipykernel_5252\69909737.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_movies_limpio['release_date'] = pd.to_datetime(df_movies_limpio['release_date'], errors='coerce')

## Score por título

In [75]:
# Definición de la función score_titulo
def score_titulo(titulo):
    # Convertir la columna de fechas a tipo datetime si aún no lo está (puede que ya esté hecho)
    df_movies_limpio['release_date'] = pd.to_datetime(df_movies_limpio['release_date'], errors='coerce')
    
    # Filtrar película por título
    filtered_movie = df_movies_limpio[df_movies_limpio['title'].str.lower() == titulo.lower()]
    
    # Obtener título, año de estreno y score
    if not filtered_movie.empty:
        titulo = filtered_movie.iloc[0]['title']
        año_estreno = filtered_movie.iloc[0]['release_date'].year
        score = filtered_movie.iloc[0]['vote_average']  # Aquí podrías ajustar según el score o popularidad que necesites
        return f'La película `{titulo}` fue estrenada en el año `{año_estreno}` con un score/popularidad de `{score}`'
    else:
        return f'No se encontró la película con título `{titulo}` en el dataset'

# Ejemplo de uso de la función score_titulo
titulo_buscar = 'Titanic'  # Puedes cambiar el título según la película que quieras buscar
resultado = score_titulo(titulo_buscar)
print(resultado)

La película `Titanic` fue estrenada en el año `1997` con un score/popularidad de `7.5`

C:\Users\Germán\AppData\Local\Temp\ipykernel_5252\2511790614.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_movies_limpio['release_date'] = pd.to_datetime(df_movies_limpio['release_date'], errors='coerce')

## Votos por título

In [84]:
# Asumiendo que df_movies_limpio ya está cargado
# Si no, descomenta la siguiente línea:
# df_movies_limpio = pd.read_csv(r"E:\Repositorios y bases de datos\Henry DS\Proyecto-individual-N-1---LABS---Henry\datos_procesados\movies_df.csv")

# Convertir solo las columnas necesarias a tipos numéricos
df_movies_limpio['vote_count'] = pd.to_numeric(df_movies_limpio['vote_count'], errors='coerce')
df_movies_limpio['vote_average'] = pd.to_numeric(df_movies_limpio['vote_average'], errors='coerce')



# Definición de la función votos_titulo
def votos_titulo(titulo):
    # Filtrar película por título
    filtered_movie = df_movies_limpio[df_movies_limpio['title'].str.lower() == titulo.lower()]
    
    # Verificar si se encontró la película y tiene al menos 2000 votos
    if not filtered_movie.empty:
        cantidad_votos = filtered_movie.iloc[0]['vote_count']
        promedio_votos = filtered_movie.iloc[0]['vote_average']
        
        if pd.notnull(cantidad_votos) and cantidad_votos >= 2000:
            return f'La película `{titulo}` fue estrenada en el año `{pd.to_datetime(filtered_movie.iloc[0]["release_date"]).year}`. La misma cuenta con un total de `{cantidad_votos:,.0f}` valoraciones, con un promedio de `{promedio_votos:.2f}`.'
        else:
            return f'La película `{titulo}` fue estrenada en el año `{pd.to_datetime(filtered_movie.iloc[0]["release_date"]).year}`. Sin embargo, no cumple con la condición de tener al menos 2000 valoraciones.'
    else:
        return f'No se encontró la película con título `{titulo}` en el dataset'

# Ejemplo de uso de la función votos_titulo
titulo_buscar = 'Titanic'  # Puedes cambiar el título según la película que quieras buscar
resultado = votos_titulo(titulo_buscar)
print(resultado)

La película `Titanic` fue estrenada en el año `1997`. La misma cuenta con un total de `7,770` valoraciones, con un promedio de `7.50`.

C:\Users\Germán\AppData\Local\Temp\ipykernel_5252\3594127978.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_movies_limpio['vote_count'] = pd.to_numeric(df_movies_limpio['vote_count'], errors='coerce')
C:\Users\Germán\AppData\Local\Temp\ipykernel_5252\3594127978.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_movies_limpio['vote_average'] = pd.to_numeric(df_movies_limpio['vote_average'], errors='coerce')

In [78]:
print(df_movies_limpio.dtypes)

budget                   float64
movie_id                  object
original_title            object
release_date      datetime64[ns]
revenue                   object
title                     object
vote_average             float64
vote_count               float64
genre                     object
return                   float64
dtype: object

## Get actor

In [103]:
director_actor_df = pd.read_csv(r"E:\Repositorios y bases de datos\Henry DS\Proyecto-individual-N-1---LABS---Henry\datos_procesados\director_actor_df.csv", index_col=0)

In [107]:
print(df_movies_limpio.head())
print(director_actor_df.head())

       budget movie_id               original_title release_date      revenue  \
0  30000000.0      862                    Toy Story   1995-10-30  373554033.0
1  65000000.0     8844                      Jumanji   1995-12-15  262797249.0
2         0.0    15602             Grumpier Old Men   1995-12-22          0.0
3  16000000.0    31357            Waiting to Exhale   1995-12-22   81452156.0
4         0.0    11862  Father of the Bride Part II   1995-02-10   76578911.0

                         title  vote_average  vote_count      genre     return
0                    Toy Story           7.7      5415.0  Animation  12.451801
1                      Jumanji           6.9      2413.0  Adventure   4.043035
2             Grumpier Old Men           6.5        92.0    Romance   0.000000
3            Waiting to Exhale           6.1        34.0     Comedy   5.090760
4  Father of the Bride Part II           5.7       173.0     Comedy   0.000000
   movie_id         director  \
0       862    John Lasseter
1      8844     Joe Johnston
2     15602    Howard Deutch
3     31357  Forest Whitaker
4     11862    Charles Shyer

                                               actor
0  ['Tom Hanks', 'Tim Allen', 'Don Rickles', 'Jim...
1  ['Robin Williams', 'Jonathan Hyde', 'Kirsten D...
2  ['Walter Matthau', 'Jack Lemmon', 'Ann-Margret...
3  ['Whitney Houston', 'Angela Bassett', 'Loretta...
4  ['Steve Martin', 'Diane Keaton', 'Martin Short...

In [104]:
director_actor_df.head()

,movie_id,director,actor
0,862,John Lasseter,"['Tom Hanks', 'Tim Allen', 'Don Rickles', 'Jim..."
1,8844,Joe Johnston,"['Robin Williams', 'Jonathan Hyde', 'Kirsten D..."
2,15602,Howard Deutch,"['Walter Matthau', 'Jack Lemmon', 'Ann-Margret..."
3,31357,Forest Whitaker,"['Whitney Houston', 'Angela Bassett', 'Loretta..."
4,11862,Charles Shyer,"['Steve Martin', 'Diane Keaton', 'Martin Short..."

In [145]:
import locale
import numpy as np
import pandas as pd
import ast

def normalize_string(s):
    return ''.join(c.lower() for c in s if c.isalnum())

def get_actor(nombre_actor, df_movies_limpio, director_actor_df):
    nombre_actor_normalizado = normalize_string(nombre_actor)

    actor_presente = director_actor_df['actor'].apply(lambda lista_actores: any(nombre_actor_normalizado in normalize_string(actor) for actor in lista_actores))

    if not actor_presente.any():
        return f"El actor {nombre_actor} no ha participado de ninguna filmación."

    df_actor = director_actor_df[actor_presente]
    cantidad_filmaciones = df_actor.shape[0]

    df_actor_movies = pd.merge(df_actor, df_movies_limpio, on='movie_id', how='inner')

    if df_actor_movies.empty or df_actor_movies['return'].isnull().all() or df_actor_movies['budget'].isnull().all():
        return f"El actor {nombre_actor} ha participado de {cantidad_filmaciones} cantidad de filmaciones, pero no hay información suficiente sobre el retorno de las películas."

    df_actor_movies['return_dollars'] = df_actor_movies['return'] * df_actor_movies['budget']
    retorno_total_dollars = df_actor_movies['return_dollars'].sum()
    retorno_promedio_dollars = df_actor_movies['return_dollars'].mean()

    retorno_total_formatted = locale.format_string("%.2f", retorno_total_dollars, grouping=True)
    retorno_promedio_formatted = locale.format_string("%.2f", retorno_promedio_dollars, grouping=True)

    return f"{nombre_actor} ha participado de {cantidad_filmaciones} filmaciones. Ha conseguido un retorno de ${retorno_total_formatted} con un promedio de ${retorno_promedio_formatted} por filmación."

# Configurar la localización para el formato de números
try:
    locale.setlocale(locale.LC_ALL, 'es_ES.UTF-8')
except locale.Error:
    print("Locale es_ES.UTF-8 no disponible. Usando el locale por defecto.")

# Asumiendo que los DataFrames ya están cargados
# df_movies_limpio = pd.read_csv('ruta_a_tu_archivo_movies_limpio.csv')
# director_actor_df = pd.read_csv('ruta_a_tu_archivo_director_actor.csv')

# Convertir la columna 'actor' de string a lista
director_actor_df['actor'] = director_actor_df['actor'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)

# Convertir movie_id a string en ambos DataFrames
df_movies_limpio = df_movies_limpio.assign(movie_id=df_movies_limpio['movie_id'].astype(str))
director_actor_df = director_actor_df.assign(movie_id=director_actor_df['movie_id'].astype(str))

# Ejemplo de uso
actores = ['adam sandler', 'guillermo francella', 'meryl streep']

for actor in actores:
    try:
        resultado = get_actor(actor, df_movies_limpio, director_actor_df)
        print(resultado)
    except Exception as e:
        print(f"Ocurrió un error al procesar la información de {actor}: {e}")

adam sandler ha participado de 47 filmaciones. Ha conseguido un retorno de $4.776.596.835,00 con un promedio de $101.629.719,89 por filmación.
guillermo francella ha participado de 6 filmaciones. Ha conseguido un retorno de $33.965.843,00 con un promedio de $5.660.973,83 por filmación.
meryl streep ha participado de 65 filmaciones. Ha conseguido un retorno de $3.587.354.935,00 con un promedio de $55.190.075,92 por filmación.

## Get director

In [144]:
def get_director(nombre_director):
    # Filtrar el DataFrame merged_df por el nombre del director
    director_movies = director_actor_df[director_actor_df['director'] == nombre_director]

    # Verificar si el director tiene películas en el dataset
    if director_movies.empty:
        return f"No se encontraron películas para el director {nombre_director}"

    # Obtener los movie_id de las películas dirigidas por el director
    movie_ids = director_movies['movie_id'].unique()

    # Filtrar df_movies_funcion_1 por los movie_id obtenidos
    director_movies_details = df_movies_limpio[df_movies_limpio['movie_id'].isin(movie_ids)]

    # **Manejar valores faltantes en revenue y budget**
    director_movies_details['revenue'] = pd.to_numeric(director_movies_details['revenue'], errors='coerce')
    director_movies_details['budget'] = pd.to_numeric(director_movies_details['budget'], errors='coerce')

    # **Validar que return_dollars solo contenga valores numéricos**
    director_movies_details['return_dollars'] = director_movies_details['revenue'] - director_movies_details['budget']
    director_movies_details['return_dollars'] = pd.to_numeric(director_movies_details['return_dollars'], errors='coerce')

    # Calcular el retorno promedio en dólares de todas las películas del director
    avg_return_dollars = director_movies_details['return_dollars'].mean()

    # Formatear los valores numéricos como dólares o 'información no disponible'
    def format_dollars(value):
        if pd.isna(value) or value == 0:
            return 'Información no disponible'
        else:
            return f"${value:,.0f}"

    director_movies_details['budget'] = director_movies_details['budget'].apply(format_dollars)
    director_movies_details['revenue'] = director_movies_details['revenue'].apply(format_dollars)
    director_movies_details['return_dollars'] = director_movies_details['return_dollars'].apply(format_dollars)

    # Eliminar la hora del día de la fecha de lanzamiento
    director_movies_details['release_date'] = pd.to_datetime(director_movies_details['release_date']).dt.date

    # Preparar la información de cada película
    peliculas_info = []
    for index, row in director_movies_details.iterrows():
        pelicula_info = {
            "Título": row['title'],
            "Fecha de Lanzamiento": row['release_date'],
            "Retorno en Dólares": row['return_dollars'],
            "Presupuesto": row['budget'],
            "Ingresos": row['revenue'],
            "Calificación Promedio": row['vote_average'] if not pd.isna(row['vote_average']) else 'Información no disponible'
        }
        peliculas_info.append(pelicula_info)

    # Crear el diccionario de respuesta
    resultado = {
        'director': nombre_director,
        'retorno_promedio': format_dollars(avg_return_dollars),
        'peliculas': peliculas_info
    }

    return resultado

# Ejemplo de uso
nombre_director_ejemplo = 'Christopher Nolan'  # Cambia esto por el nombre de un director en tu dataset
resultado = get_director(nombre_director_ejemplo)

# Imprimir los resultados de manera más legible
print(f"Director: {resultado['director']}")
print(f"Retorno Promedio: {resultado['retorno_promedio']}")
print("Detalles de las películas:")
print("----------------------------------------")
for pelicula in resultado['peliculas']:
    for key, value in pelicula.items():
        print(f"{key}: {value}")
    print("----------------------------------------")

Director: Christopher Nolan
Retorno Promedio: $331,127,515
Detalles de las películas:
----------------------------------------
Título: Following
Fecha de Lanzamiento: 1998-09-12
Retorno en Dólares: $42,482
Presupuesto: $6,000
Ingresos: $48,482
Calificación Promedio: 7.2
----------------------------------------
Título: Memento
Fecha de Lanzamiento: 2000-10-11
Retorno en Dólares: $30,723,096
Presupuesto: $9,000,000
Ingresos: $39,723,096
Calificación Promedio: 8.1
----------------------------------------
Título: Insomnia
Fecha de Lanzamiento: 2002-05-24
Retorno en Dólares: $67,714,830
Presupuesto: $46,000,000
Ingresos: $113,714,830
Calificación Promedio: 6.8
----------------------------------------
Título: Batman Begins
Fecha de Lanzamiento: 2005-06-10
Retorno en Dólares: $224,218,673
Presupuesto: $150,000,000
Ingresos: $374,218,673
Calificación Promedio: 7.5
----------------------------------------
Título: The Prestige
Fecha de Lanzamiento: 2006-10-19
Retorno en Dólares: $69,676,311
Presupuesto: $40,000,000
Ingresos: $109,676,311
Calificación Promedio: 8.0
----------------------------------------
Título: The Dark Knight
Fecha de Lanzamiento: 2008-07-16
Retorno en Dólares: $819,558,444
Presupuesto: $185,000,000
Ingresos: $1,004,558,444
Calificación Promedio: 8.3
----------------------------------------
Título: Inception
Fecha de Lanzamiento: 2010-07-14
Retorno en Dólares: $665,532,764
Presupuesto: $160,000,000
Ingresos: $825,532,764
Calificación Promedio: 8.1
----------------------------------------
Título: The Dark Knight Rises
Fecha de Lanzamiento: 2012-07-16
Retorno en Dólares: $834,939,099
Presupuesto: $250,000,000
Ingresos: $1,084,939,099
Calificación Promedio: 7.6
----------------------------------------
Título: Interstellar
Fecha de Lanzamiento: 2014-11-05
Retorno en Dólares: $510,120,017
Presupuesto: $165,000,000
Ingresos: $675,120,017
Calificación Promedio: 8.1
----------------------------------------
Título: Doodlebug
Fecha de Lanzamiento: 1997-01-01
Retorno en Dólares: Información no disponible
Presupuesto: Información no disponible
Ingresos: Información no disponible
Calificación Promedio: 6.6
----------------------------------------
Título: Dunkirk
Fecha de Lanzamiento: 2017-07-19
Retorno en Dólares: $419,876,949
Presupuesto: $100,000,000
Ingresos: $519,876,949
Calificación Promedio: 7.5
----------------------------------------

C:\Users\Germán\AppData\Local\Temp\ipykernel_5252\1678884048.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  director_movies_details['revenue'] = pd.to_numeric(director_movies_details['revenue'], errors='coerce')
C:\Users\Germán\AppData\Local\Temp\ipykernel_5252\1678884048.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  director_movies_details['budget'] = pd.to_numeric(director_movies_details['budget'], errors='coerce')
C:\Users\Germán\AppData\Local\Temp\ipykernel_5252\1678884048.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  director_movies_details['return_dollars'] = director_movies_details['revenue'] - director_movies_details['budget']
C:\Users\Germán\AppData\Local\Temp\ipykernel_5252\1678884048.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  director_movies_details['return_dollars'] = pd.to_numeric(director_movies_details['return_dollars'], errors='coerce')
C:\Users\Germán\AppData\Local\Temp\ipykernel_5252\1678884048.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  director_movies_details['budget'] = director_movies_details['budget'].apply(format_dollars)
C:\Users\Germán\AppData\Local\Temp\ipykernel_5252\1678884048.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  director_movies_details['revenue'] = director_movies_details['revenue'].apply(format_dollars)
C:\Users\Germán\AppData\Local\Temp\ipykernel_5252\1678884048.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  director_movies_details['return_dollars'] = director_movies_details['return_dollars'].apply(format_dollars)
C:\Users\Germán\AppData\Local\Temp\ipykernel_5252\1678884048.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  director_movies_details['release_date'] = pd.to_datetime(director_movies_details['release_date']).dt.date